/* color para todos los h2 */
h2 {
    color:rgb(40, 113, 136) ;
    display: inline; 
}

/* color para todos los h1 */

h1 {
    color: rgb(58, 212, 20);
    display: inline;
    background-color: rgb(14, 58, 139);
}

/* color para todos los nav */

nav {
    color: rgb(252, 252, 252);
    display: inline-block;
    background-color: rgb(48, 37, 46);
}

/* color para todos los body */

body {
    background-color: rgb(41, 36, 36);
    color:blanchedalmond ;
}

/* cambio de fuente a los nav*/
nav {
    font-family:fantasy ;
}
/* etiqueta universal*/
*{
    margin: 8px;;
}
